version: '3.3'

services:
  firewall:
    image: wallarm/api-firewall
    container_name: vnf-firewall
    ports:
      - "8080:8080"
    environment:
      - APIFW_URL=http://0.0.0.0:8080/
      - APIFW_SERVER_URL=http://vnf-lb/
      - APIFW_API_SPECS=/api-specs/openapi.yaml
      - APIFW_REQUEST_VALIDATION=LOG_ONLY
      - APIFW_RESPONSE_VALIDATION=LOG_ONLY
    volumes:
      - ./openapi.yaml:/api-specs/openapi.yaml
    networks:
      - net-chain

  loadbalancer:
    image: haproxytech/haproxy-alpine
    container_name: vnf-lb
    ports:
      - "9090:80"
    networks:
      - net-chain
    depends_on:
      - firewall

  webserver:
    image: nginx
    container_name: vnf-web
    ports:
      - "8081:80"
    depends_on:
      - loadbalancer
    networks:
      - net-chain

networks:
  net-chain:
    driver: bridge